body {
    background-color: rgb(34, 33, 37) !important;
    background-color: #00DBDE;
    background-image: linear-gradient(0deg, #003435 0%, #370038 100%);
  
}

.face {
    margin: 8px;
    border-style: solid;
    border-radius: 5px;
    border-color:#b63ab6;
    border-width: 2px;
    transform-origin: center;
    transition: 0.25s
}

.face:hover {
  cursor: pointer;
  border-style: solid;
  border-radius: 5px;
  border-color:#3ab697;
  border-width: 2px;
  transform: scale(1.10);
}


.image-gallery {
    margin-bottom: 225px;
}

.selected-face {
  margin-top: 1em;
  border-style: solid;
  border-radius: 5px;
  border-color:#b63ab6;
  /* border-color: linear-gradient(0deg, #003435 0%, #370038 100%); */
  border-width: 2px;
  transform-origin: center;
  transition: 0.25s
}

.hud {
    text-align: center;
    position: fixed;
    bottom: 15px;
    background-color: #252525;
    color: white;
    width: 50%;
    height: 200px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    margin-left: 25%;
    margin-right: 25%;
    z-index: 9999;
}

.hud-table{
  position: fixed;
  text-align: center;
  table-layout: fixed;
  width: 50%;
}

.hud-column{
  z-index: 1; 
  border-left: 1px solid rgb(255, 255, 255);
  height: 174px;
}

#middleColumn{

}

.hud-head{
  z-index: 1;
  border-left: 1px solid rgb(255, 255, 255);
  height: 0px;
}

.empty-vote{
  z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(0, 0%, 27%);
    margin-bottom: 50px;
}

.vote, #hudDropup{
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    margin-bottom: 50px;

    /* margin-left: 80%; */
  }
  
  .vote::before, .change-vote::before, #hudDropup::before{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #b63ab6;
    transform-origin: center bottom;
    transform: scaleY(0);
    transition: transform 0.25s ease-in-out;
  }
  
  .vote:hover, .change-vote:hover, #hudDropup:hover{
    cursor: pointer;
  }
  
  .vote:hover::before, .change-vote:hover::before, #hudDropup:hover:before {
    transform-origin: center top;
    transform: scaleY(1);
  }

  .change-vote{
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(160, 100%, 20%);
    margin-bottom: 50px;

    /* margin-left: 80%; */
  }

  #hudDropup{
    margin-bottom: 50px;
    border-radius: 0%;
  }
  
  /* #hudDropup:active{
    background-color: #b63ab6;
  } */